--- 
interface Props {
	title: string;
	description: string;
	canonicalURL: string;
	mediaAs: string;
	mediaLink: string;
	mediaType: string;
}

const { title, description, mediaAs, mediaLink, mediaType, canonicalURL = Astro.url } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="preload" as={mediaAs} href={mediaLink} type={mediaType}>
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={canonicalURL} />
		<script defer data-domain="palaf.in" src="https://plausible.io/js/script.js"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
